# --------------------------
# Node
# --------------------------
node_modules/
package-lock.json

# --------------------------
# Environment
# --------------------------
.env

# --------------------------
# Firebase private keys
# --------------------------
*.json
!data/*.json

# --------------------------
# Logs and caches
# --------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
*.tsbuildinfo

# --------------------------
# Build output
# --------------------------
dist/
build/

# --------------------------
# Editor/IDE files
# --------------------------
.vscode/
.idea/

# --------------------------
# OS files
# --------------------------
.DS_Store
Thumbs.db
debug-env.js
